.container{min-height: 100%;}
.icon-name{
  float: left;
  width: 186px;
  font-size: 34px;
  vertical-align: middle
}
.up-img-wrap{
  display: inline-block;
  
}
.up-img-wrap .up-img{
  width: 116px;
  height: 116px;
  margin-right: 5px;
}
.up-icon{
  width: 116px;
  height: 116px;
}
.container1{
 width:60%;
 position:relative;
 margin:0 auto;
}
.btnn{
 width:200px;
 height:50px;
}