.goods-img-wrap{
  width: 100%;
  height: 360px;
  background-color: #e1e4e6;
}
.goods-img{height: 100%;
width:50%;}
.operation-wrap{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #f5f8fa;
}
.operation-wrap::after{
  display: table;
  content: " ";
  clear: both;
}
.operation-wrap .operation-btn{
  float: left;
  width: 48%;
  text-align: center;
  line-height: 98px;
  border-right: 1px #ddd solid;
}
/*自定义模态框*/
.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  overflow: hidden;
  z-index: 9000;
  color: #fff;
}

.modal-dialog {
  width: 640rpx;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 9999;
  background: #fff;
  margin: -180rpx 55rpx;
}

.modal-title {
  padding-top: 35rpx;
  color: #333;
  text-align: center;
  font-size: 34rpx;
  font-weight: 400;
}

.modal-content {
  padding: 35rpx 32rpx;
}

.modal-input {
  display: flex;
  background: #fff;
  border: 2rpx solid #ddd;
  border-radius: 4rpx;
  font-size: 28rpx;
}


.input {
  width: 100%;
  height: 82rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  padding: 0 20rpx;
  box-sizing: border-box;
  color: #333;
}

input-holder {
  color: #666;
  font-size: 28rpx;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  height: 86rpx;
  border-top: 1px solid #dedede;
  font-size: 34rpx;
  line-height: 86rpx;
}

.btn-cancel {
  width: 50%;
  color: #666;
  text-align: center;
  border-right: 1px solid #dedede;
  font-size: 34rpx;
}

.btn-confirm {
  width: 50%;
  color: #e94f4f;
  text-align: center;
  font-size: 34rpx;
}
.container{
 position:relative;
 width:70%;
 margin:0 auto;
}